
*, *:before, *:after {
    box-sizing: border-box;
  }

  body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
  }
  .app {
      margin : 0;
      padding: 0;
      border: 0;
  }

  .nav, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }

  .nav {
    background: #000;
    height: 60px; /* set same as height & line-height below */
  }

  .nav li:hover {
    background: blue;
    transition: background .3s;
  }

  .nav-link {
    color: #fff;
    text-decoration: none;
  }

  .nav li {
    display: inline-block;
    list-style: none;
    height: 60px; 
    line-height: 60px; 
    padding: 0 40px;  
  }
  
  .main-container{
      margin : 2% 5% 1% 5%;
      height: 95vh;
      display: flex;    
      flex-direction: row;
  }

  .main-content{
      flex : 70%;
      overflow:scroll;
      overflow-x:hidden;
  }


.highlighted-user {
  display: flex;
  justify-content: center;
  flex: 30%;
  width: 95%;
}

.highlighted-row-element-spells{
  display: flex;
  flex-direction: row;
}

.highlighted-user-main{
  width: 90%;
}

.highlighted-game-win{
  background-color: #caf0cd;
   
}

.highlighted-game-loss{
  background-color: #e2b1b1;
   
}

.highlighted-user-win{
  background-color: "#a2c9e7";
}

.highlighted-user-loss{
  background-color: "#e2b1b1";
}

.main-feed{}


.auth-page{
    margin : auto;
}

.auth-container{
    display: flex;
    justify-content: center;
}

.auth-input{
    margin : 10px;
}

.user-profile-container{
  display: flex;
  justify-content: center;
  
}
.user-profile{
  padding : 5%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 6%;
}



.feed-tile{
    display: flex;
    flex-direction: column;
    margin : 2%;
    padding : 2%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.feed-tile:hover { 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.feed-row{
    display: flex;
    flex-direction: row;
}

.feed-tile-subtitle{
    
}

.feed-tile-entry{}


 

