
*, *:before, *:after {
    box-sizing: border-box;
  }

  body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
  }
  .app {
      margin : 0;
      padding: 0;
      border: 0;
  }


  
  .nav, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  }

  .nav {
    background: #000;
    height: 60px; /* set same as height & line-height below */
  }

  .nav li:hover {
    background: blue;
    transition: background .3s;
  }

  .nav-link {
    color: #fff;
    text-decoration: none;
  }

  .nav li {
    display: inline-block;
    list-style: none;
    height: 60px; 
    line-height: 60px; 
    padding: 0 40px;  
  }
  
  .main-container{
      margin : 2% 5% 1% 5%;
      height: 95vh;
      display: flex;    
      flex-direction: row;
  }

  .main-content{
      flex : 70%;
      overflow:scroll;
      overflow-x:hidden;
  }

.highlighted-user {
  display: flex;
  justify-content: center;
  flex: 30%
}

.main-feed{}


.auth-page{
    max-width:50%;
    min-width: 30%;
    height:40%;
    padding: 8% 0 0;
}

.auth-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.auth-form{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 10px;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
}

.auth-input{
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.auth-button{
  text-transform: uppercase;
  outline: 0;
  background: #181A18;
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}

.user-profile-container{
  display: flex;
  justify-content: center;
  
}
.user-profile{
  padding : 5%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin-bottom: 6%;
}



.feed-tile{
    display: flex;
    flex-direction: column;
    margin : 2%;
    padding : 2%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.feed-tile:hover { 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.feed-row{
    display: flex;
    flex-direction: row;
}

.feed-tile-subtitle{
    
}

.feed-tile-entry{}


 

